<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:10%">
        <h3 class="w3-bar-item">Menu</h3>


        <a routerLink="./user" class="w3-bar-item w3-button" routerLinkActive="active">Dasboard</a>
        <a routerLink="./user" class="w3-bar-item w3-button" routerLinkActive="active">Users</a>
        <a routerLink="./user" class="w3-bar-item w3-button" routerLinkActive="active">Add Songs</a>


    </div>

    <!-- Page Content -->
    <div style="margin-left:10%">

        <br><br>

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

                <div class="col-md-3" style="float:left">
                    <div class="card mb-2">

                        <div class="card-body">
                            <i class="fa fa-eye fa-5x" aria-hidden="true"></i>
                            <h4>2</h4>

                            <a (click)=" onsubmit()" class="btn btn-primary">Vistors</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="float:left">
                    <div class="card mb-2">

                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>

                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="float:left">
                    <div class="card mb-2">

                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>


            </div>
            <!--/.First slide-->



        </div>

    </div>

</body>


</html>
<router-outlet></router-outlet>