<!--
    First, we check isLoggedIn status using TokenStorageService, if it is true, we get user’s roles and set value for showAdminBoard & showModeratorBoard flag. They will control how template navbar displays its items.

The App Component template also has a Logout button link that call logout() method and reload the window.
-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<body>
    <div id="app" class="bg-dark">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a href="#" class="navbar-brand"><i class="fa fa-music"></i>&nbsp;<b
                    style="font-family: Sofia;">MuSIcaNA</b></a>
            <ul class="navbar-nav mr-auto" routerLinkActive="active">

                <li class="nav-item">

                    <a href="/home" class="nav-link text-white" routerLink="home"><i class="fa fa-home"
                            aria-hidden="true"></i>&nbsp;<b>Home</b></a>
                </li>
                <li class="nav-item" *ngIf="showAdminBoard">
                    <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
                </li>

                <li class="nav-item">
                    <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
                </li>
                <li class="nav-item">
                    <a href="/search" class="nav-link" routerLink="search"><i class="fa fa-search"
                            aria-hidden="true"></i>&nbsp;<b>Search</b></a>
                </li>
                <li class="nav-item">
                    <a href="/your" class="nav-link" routerLink="your"><i class="fa fa-gear"></i>&nbsp;<b>Your
                            Library</b></a>
                </li>
                <li class="nav-item">
                    <a href="/create" class="nav-link" routerLink="create"><i class='fa fa-sliders'></i>&nbsp;<b>Create
                            Playlist</b></a>
                </li>
                <li class="nav-item">
                    <a href="/liked" class="nav-link" routerLink="liked"><i class="fa fa-gratipay"></i>&nbsp;<b>Liked
                            Songs</b></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
                <li class="nav-item">
                    <a href="/register" class="nav-link" routerLink="register"><i class="fa fa-user-plus"
                            aria-hidden="true"></i>&nbsp;Sign Up</a>
                </li>


            </ul>

            <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
                <li class="nav-item">
                    <a href="/profile" class="nav-link" routerLink="profile">{{ Username }}</a>
                </li>
                <li class="nav-item">
                    <a href class="nav-link" (click)="logout()">LogOut</a>
                </li>
            </ul>
        </nav>

        <router-outlet></router-outlet>


    </div>

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"><i
                        class="fa fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/search?q=%23login"
                    role="button"><i class="fa fa-twitter"></i></a>


                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/accounts/login/?hl=en"
                    role="button"><i class="fa fa-instagram"></i></a>

            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

            <audio controls>
                <source src="../assets/Jo-Hai-Albela-Mad-Naino-Wala-MostMags.mp3" type="audio/mpeg">
            </audio>

        </div>
        <!-- Copyright -->

    </footer>
</body>