<body class="bg-dark">

    <div class="content">

        <h3 class="header text-white"> &nbsp;&nbsp;India's Best</h3>
        &nbsp;&nbsp;
        <div class="card-group hover">
            <div class="card">
                <img src="../../assets/images (1)1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood Butter</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/download (5).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kollywood Cream</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/101.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Punjabi 101</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/download (7).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tollyword Perls</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/Raaja rules.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Raaja rules</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/download (8).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Top Hits Marthi</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
        </div>
        <br><br>
        <h3 class="header text-white"> &nbsp;&nbsp;Charts</h3>
        <div class="card-group">
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/images (2).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/101.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/download (3).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/images (3).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/images.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/images2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
        </div>

        <br><br>
        <h3 class="header text-white"> &nbsp;&nbsp;Soundtrack your home</h3>
        <div class="card-group">
            <div class="card">
                <img src="../../assets/punjabi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pops</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/images (1).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hindi</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/Raaja rules.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gujarati</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/images2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Marathi</h5>

                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/101.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;
                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/download (3).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;

        </div>
        <br><br>
        <h3 class="header text-white"> &nbsp;&nbsp;Gujarati New Releases</h3>
        <div class="card-group">
            <div class="card">
                <img src="../../assets/images (1)1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/images (1).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/download1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/download.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bollywood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/download (8).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mood</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card">
                <img src="../../assets/download (7).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hindi</h5>
                    <button class="btn btn-success fa fa-plus fa-2x" (click)="btnClick1()"></button>&nbsp;&nbsp;

                    <button (click)="btnClick();" class='btn btn-success fa fa-play-circle fa-2x'></button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</body>