<body class="bg-dark">

    <nav class="navbar navbar-expand-sm bg-dark justify-content-center">

        <button (click)="btnClick2()" class="nav-link btn-success rounded-pill">Podcast</button>

        &nbsp;&nbsp;

        <button (click)="btnClick2()" class="nav-link btn-success rounded-pill">Artist</button>



    </nav>
    <div class="container">
        <div class="card-deck-wrapper bg-image hover-overlay hover-zoom hover-shadow ripple">
            <div class="card-deck">
                <div class="card bg-image hover-overlay hover-zoom hover-shadow ripple">
                    <img class="card-img-top" src="../../../assets/bg.jpg" alt="Card image cap">&nbsp;&nbsp;
                    <div class="card-block">
                        &nbsp;&nbsp;
                        <button (click)="btnClick1();" class="btn btn-success" type="submit"><i
                                class='fa fa-play-circle fa-2x'></i></button>

                        &nbsp;&nbsp; <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card bg-image hover-overlay hover-zoom hover-shadow ripple">
                    <img class="card-img-top" src="../../../assets/og__ckjrh2mu8b2a_image.png"
                        alt="Card image cap">&nbsp;&nbsp;
                    <div class="card-block">

                        <button (click)="btnClick1();" class="btn btn-success" type="submit"><i
                                class='fa fa-play-circle fa-2x'></i></button>

                        <p class="card-text"><small class="text-muted">by Dhruti</small></p>
                    </div>
                </div>
                <div class="card bg-image hover-overlay hover-zoom hover-shadow ripple">
                    <img class="card-img-top" src="../../../assets/per.jpg" alt="Card image cap">&nbsp;&nbsp;
                    <div class="card-block">
                        <button (click)="btnClick1();" class="btn btn-success" type="submit"><i
                                class='fa fa-play-circle fa-2x'></i></button>

                        <h4 class="text-right">MyPlayList</h4>
                        <p class="card-text text-right"><small class="text-muted">by Dhruti</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br>
    <div class="container">

        <h3 class="text-success"><i class="fa fa-music" aria-hidden="true"></i>&nbsp; English</h3>


        <h3 class="bg-success">Perfect-Ed-Sheeran </h3>
        <audio controls style="width: 100%;">

            <source src="../../assets/Perfect-Ed-Sheeran_320-MostMags.mp3" type="audio/mpeg">

        </audio>

        <h3 class="bg-success">Heat-Waves </h3>
        <audio controls style="width: 100%;">

            <source src="../../assets/Perfect-Ed-Sheeran_320-MostMags.mp3" type="audio/mpeg">

        </audio>

        <h3 class="bg-success">Sonorita </h3>
        <audio controls style="width: 100%;">

            <source src="../../assets/Perfect-Ed-Sheeran_320-MostMags.mp3" type="audio/mpeg">

        </audio>

        <h3 class="text-success"><i class="fa fa-music" aria-hidden="true"></i>&nbsp; Hindi</h3>

        <h3 class="bg-success">Wo krishna hai</h3>
        <audio controls style="width: 100%;">

            <source src="../../assets/Perfect-Ed-Sheeran_320-MostMags.mp3" type="audio/mpeg">

        </audio>

        <h3 class="bg-success">Srivalli </h3>
        <audio controls style="width: 100%;">

            <source src="../../assets/Perfect-Ed-Sheeran_320-MostMags.mp3" type="audio/mpeg">

        </audio>

    </div>

</body>