<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block" style="width:10%">
        <h3 class="w3-bar-item">Admin</h3>


        <a routerLink="./dasboard" class="w3-bar-item w3-button" routerLinkActive="active">Dasboard</a>
        <a routerLink="./user" class="w3-bar-item w3-button" routerLinkActive="active">Users</a>
        <a routerLink="./songup" class="w3-bar-item w3-button" routerLinkActive="active">Songs</a>


    </div>

    <!-- Page Content -->
    <div style="margin-left:10%">



        <!--Slides-->

        <!--/.First slide-->



    </div>
</body>

</html>
<router-outlet></router-outlet>