<!-- Search form -->

<body class="bg-dark">


    <div class="container p-1 bg-light rounded shadow-sm mb-4">

        <form method="get" action="#" class="search_container">

            <input [formControl]="search_word" class="form-control rounded-pill bg-light" type="text"
                placeholder="Artist,Songs,or podcasts">

        </form>
        <span *ngIf="isLoading">now loading...</span>
        <table>
            <tr *ngFor=" let name of result_list">
                <td>
                    <p (click)="btnClick();" class='btn btn-secondary'>{{name}}</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="content">
        <h4 class="text-light"> &nbsp; &nbsp; Browse All</h4>
        <div class="card-deck">
            <div class="card bg-info">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-info'>Hindi</p>
                    <img src="https://ik.imagekit.io/musicana/download__3__q-RA-IZuK.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490931274"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-warning">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-warning'>Bollywood</p>
                    <img src="https://ik.imagekit.io/musicana/download1_wpuyPyAYE.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490933800"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-'>Kollywood Cream</p>
                    <img src="https://ik.imagekit.io/musicana/images__1_1__Yd9nXxtN.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490934948"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-secondary">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-secondary'>EQUAL</p>
                    <img src="https://ik.imagekit.io/musicana/101_mUHsow2Bw.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490930169"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-info">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-info'>Pop</p>
                    <img src="https://ik.imagekit.io/musicana/download__7__DIx_jrdxY.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490932370"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-danger">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-danger'>Bollywood</p>
                    <img src="https://ik.imagekit.io/musicana/images__1__2k_u0rdFCDp.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490934460"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-success">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-success'>Kollywood Cream</p>
                    <img src="https://ik.imagekit.io/musicana/download__6__3We-1edO2M1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490931774"
                        class="card-img-top" alt="...">
                </div>
            </div>

        </div>

        <br><br>
        <div class="card-deck">
            <div class="card bg-info">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-info'>Hindi</p>
                    <img src="https://ik.imagekit.io/musicana/download__3__q-RA-IZuK.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490931274"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-warning">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-warning'>Bollywood</p>
                    <img src="https://ik.imagekit.io/musicana/download1_wpuyPyAYE.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490933800"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-'>Kollywood Cream</p>
                    <img src="https://ik.imagekit.io/musicana/images__1_1__Yd9nXxtN.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490934948"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-secondary">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-secondary'>EQUAL</p>
                    <img src="https://ik.imagekit.io/musicana/101_mUHsow2Bw.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490930169"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-info">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-info'>Pop</p>
                    <img src="https://ik.imagekit.io/musicana/download__7__DIx_jrdxY.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490932370"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-danger">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-danger'>Bollywood</p>
                    <img src="https://ik.imagekit.io/musicana/images__1__2k_u0rdFCDp.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490934460"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-success">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-success'>Kollywood Cream</p>
                    <img src="https://ik.imagekit.io/musicana/download__6__3We-1edO2M1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490931774"
                        class="card-img-top" alt="...">
                </div>
            </div>

        </div>


        <br><br>
        <div class="card-deck">
            <div class="card bg-info">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-info'>Hindi</p>
                    <img src="https://ik.imagekit.io/musicana/download__3__q-RA-IZuK.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490931274"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-warning">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-warning'>Bollywood</p>
                    <img src="https://ik.imagekit.io/musicana/download1_wpuyPyAYE.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490933800"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-'>Kollywood Cream</p>
                    <img src="https://ik.imagekit.io/musicana/images__1_1__Yd9nXxtN.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490934948"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-secondary">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-secondary'>EQUAL</p>
                    <img src="https://ik.imagekit.io/musicana/101_mUHsow2Bw.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490930169"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-info">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-info'>Pop</p>
                    <img src="https://ik.imagekit.io/musicana/download__7__DIx_jrdxY.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490932370"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-danger">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-danger'>Bollywood</p>
                    <img src="https://ik.imagekit.io/musicana/images__1__2k_u0rdFCDp.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490934460"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="card bg-success">
                <div class="card-body text-left">
                    <p (click)="btnClick();" class='btn btn-success'>Kollywood Cream</p>
                    <img src="https://ik.imagekit.io/musicana/download__6__3We-1edO2M1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644490931774"
                        class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</body>