<body>


    <img src="../../assets/per.jpg" width="300" height="400" alt="">
    <div class="container" id="demo">
        <h3 class="text-danger">English</h3>


        <h3 class="bg-white">Perfect-Ed-Sheeran <i class="fa fa-heart-o"></i></h3>
        <audio controls>

            <source src="../../assets/Perfect-Ed-Sheeran_320-MostMags.mp3" type="audio/mpeg">

        </audio>
        <h3 class="bg-white">Heat-waves &nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o"></i></h3>
        <audio controls>
            <h4> Heat-waves </h4>
            <source src="../../assets/Senorita-MostMags.mp3" type="audio/mpeg">

        </audio>

        <h3 class="bg-white">No-Lie <i class="fa fa-heart-o"></i></h3>
        <audio controls>

            <source src="../../assets/No-Lie_320MostMags.mp3" type="audio/mpeg">

        </audio>
        <h3 class="text-danger">Bollywood</h3>
        <h3 class="bg-white">Radha-Krishna &nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o"></i></h3>
        <audio controls>
            <h4> Heat-waves </h4>
            <source src="../../assets/Jo-Hai-Albela-Mad-Naino-Wala-MostMags.mp3" type="audio/mpeg">

        </audio>
        <h3 class="bg-white">Srivalli &nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o"></i></h3>
        <audio controls>
            <h4> Heat-waves </h4>
            <source src="../../assets/Teri-Jhalak-Asharfi-Srivalli-Naina-Madak-Barfi-MostMags.mp3" type="audio/mpeg">

        </audio>


    </div>
    <div class="text-center">
        <button class="btn btn-light rounded-pill" (click)="btnClick1()" type="submit">Find SONGS</button>
    </div>
</body>