<body>

    <table class="table table-dark table-hover">

        <tbody>
            <tr *ngFor="let student of song">
                <td>{{student.songId}}</td>
                <td>{{ student.name }}</td>

                <td><audio controls>
                        <source src="{{student.songFile}}" type="audio/mpeg">
                    </audio></td>


                <td><button (click)="btnclick(student.songId)" class='fa fa-trash fa-2x'></button> </td>
            </tr>
        </tbody>
    </table>


    <div class="text-center">
        <button class="btn btn-light rounded-pill" (click)="btnClick1()" type="submit">Find SONGS</button>
    </div>
</body>